[alias]
co = checkout
br = branch
ci = commit

[init]
defaultBranch = main

[pull]
rebase = true

[push]
default = current
autoSetupRemote = true

[fetch]
prune = true

[rerere]
enabled = true

[diff]
algorithm = histogram

[merge]
conflictstyle = zdiff3

[core]
autocrlf = input

[transfer]
fsckobjects = true

[includeIf "gitdir:/workspace/"]
  path = .gitconfig-aws

[includeIf "gitdir:~/projects/"]
path = ~/.gitconfig-personal
